@model Pharmacy_DAO.AdminLoginViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<h4>Admin</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAdminDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Login.LoginType" value="A" />
            <input type="hidden" asp-for="Login.LoginId" value="0" />
            <div class="form-group">
                <label asp-for="Login.UserName" class="control-label"></label>
                <input asp-for="Login.UserName" class="form-control" />
                <span asp-validation-for="Login.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login.Password" class="control-label"></label>
                <input asp-for="Login.Password" class="form-control" />
                <span asp-validation-for="Login.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.AdminFirstName" class="control-label"></label>
                <input asp-for="Admin.AdminFirstName" class="form-control" />
                <span asp-validation-for="Admin.AdminFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.AdminLastName" class="control-label"></label>
                <input asp-for="Admin.AdminLastName" class="form-control" />
                <span asp-validation-for="Admin.AdminLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Location" class="control-label"></label>
                <input asp-for="Admin.Location" class="form-control" />
                <span asp-validation-for="Admin.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.City" class="control-label"></label>
                <input asp-for="Admin.City" class="form-control" />
                <span asp-validation-for="Admin.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Country" class="control-label"></label>
                <input asp-for="Admin.Country" class="form-control" />
                <span asp-validation-for="Admin.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Phone" class="control-label"></label>
                <input asp-for="Admin.Phone" class="form-control" />
                <span asp-validation-for="Admin.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Email" class="control-label"></label>
                <input asp-for="Admin.Email" class="form-control" />
                <span asp-validation-for="Admin.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

